<?php

/**
 * Sample configuration file, copy this to config.php and edit
 */

$github = new Github(
   $username = 'username',
   $password = 'password',
   $repo = 'user/reponame');

Trac::init(
   $host = 'localhost',
   $db = 'trac',
   $user = 'Trac MySQL user',
   $password = 'Trac MySQL password');

